body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #123456;
    overflow-x: hidden;
}

/*table{
    width: 70%;
    height: 100vh;
}*/
td{
    background-repeat: no-repeat;
}

.btn{
    padding: 10px;
    background-color: blue;
    color: #fff;
    border-radius: 15px;
    border: none;
    outline: none;
    cursor: pointer;
}

a{
    color: #fff;
    text-decoration: none;
}

header.navigation{
    height: 100%;
    position: fixed;
    top: 50px;
    left: 0;
    width: 200px;
    color: #fff;
    display: none;
    padding: 10px;
    justify-content: center;
    align-items: space-between;
    font-size: 28px;
}
header.navigation a{
    display: inline-block;
    height: 30px;
}

i.fa-bars{
    cursor: pointer;
    color: #fff;
    position: fixed;
    left: 10px;
    top: 10px;
    font-size: 32px;
}

.carousel-div{
    position: relative;
    display: flex;
    width: 100vh;
    height: 80vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.carousel{
    width: 70%;
    height: 100%
}

#prev, #next{
    display: none;
}

.carousel img{
    width: 100%;
}

.villamnezet{
    width: 70%;
    height: 70%;
}
.villamnezet img{
    width: 70%;
    margin-left: 50%;
    margin-right: 50%;
    transform: translateX(-50%);
}

.btn-group{
    margin-top: 20px;
    margin-bottom: 15px;
}

.time{
    display: none;
    justify-content: center;
    align-items: space-between;
    position: fixed;
    top: 10px;
    right: 0;
    width: 230px;
    font-size: 24px;
    color: #fff;
}
.cell0{background-image:url(img/renault/image_part_0.jpg); width: 263px; height: 176px;}.cell1{background-image:url(img/renault/image_part_1.jpg); width: 263px; height: 176px;}.cell2{background-image:url(img/renault/image_part_2.jpg); width: 263px; height: 176px;}.cell3{background-image:url(img/renault/image_part_3.jpg); width: 263px; height: 176px;}.cell4{background-image:url(img/renault/image_part_4.jpg); width: 263px; height: 176px;}.cell5{background-image:url(img/renault/image_part_5.jpg); width: 263px; height: 176px;}.cell6{background-image:url(img/renault/image_part_6.jpg); width: 263px; height: 176px;}.cell7{background-image:url(img/renault/image_part_7.jpg); width: 263px; height: 176px;}.cell8{background-image:url(img/renault/image_part_8.jpg); width: 263px; height: 176px;}.cell9{background-image:url(img/renault/image_part_9.jpg); width: 263px; height: 176px;}.cell10{background-image:url(img/renault/image_part_10.jpg); width: 263px; height: 176px;}.cell11{background-image:url(img/renault/image_part_11.jpg); width: 263px; height: 176px;}.cell12{background-image:url(img/renault/image_part_12.jpg); width: 263px; height: 176px;}.cell13{background-image:url(img/renault/image_part_13.jpg); width: 263px; height: 176px;}.cell14{background-image:url(img/renault/image_part_14.jpg); width: 263px; height: 176px;}

.cell16{background-image:url(img/sea/image_part_0.jpg); width: 148px; height: 83px;}.cell17{background-image:url(img/sea/image_part_1.jpg); width: 148px; height: 83px;}.cell18{background-image:url(img/sea/image_part_2.jpg); width: 148px; height: 83px;}.cell19{background-image:url(img/sea/image_part_3.jpg); width: 148px; height: 83px;}.cell20{background-image:url(img/sea/image_part_4.jpg); width: 148px; height: 83px;}.cell21{background-image:url(img/sea/image_part_5.jpg); width: 148px; height: 83px;}.cell22{background-image:url(img/sea/image_part_6.jpg); width: 148px; height: 83px;}.cell23{background-image:url(img/sea/image_part_7.jpg); width: 148px; height: 83px;}.cell24{background-image:url(img/sea/image_part_8.jpg); width: 148px; height: 83px;}.cell25{background-image:url(img/sea/image_part_9.jpg); width: 148px; height: 83px;}.cell26{background-image:url(img/sea/image_part_10.jpg); width: 148px; height: 83px;}.cell27{background-image:url(img/sea/image_part_11.jpg); width: 148px; height: 83px;}.cell28{background-image:url(img/sea/image_part_12.jpg); width: 148px; height: 83px;}.cell29{background-image:url(img/sea/image_part_13.jpg); width: 148px; height: 83px;}.cell30{background-image:url(img/sea/image_part_14.jpg); width: 148px; height: 83px;}

.cell32{background-image:url(img/dog/image_part_0.jpg);background-size:280px 187px;width:280px;height:187px}.cell33{background-image:url(img/dog/image_part_1.jpg);background-size:280px 187px;width:280px;height:187px}.cell34{background-image:url(img/dog/image_part_2.jpg);background-size:280px 187px;width:280px;height:187px}.cell35{background-image:url(img/dog/image_part_3.jpg);background-size:280px 187px;width:280px;height:187px}.cell36{background-image:url(img/dog/image_part_4.jpg);background-size:280px 187px;width:280px;height:187px}.cell37{background-image:url(img/dog/image_part_5.jpg);background-size:280px 187px;width:280px;height:187px}.cell38{background-image:url(img/dog/image_part_6.jpg);background-size:280px 187px;width:280px;height:187px}.cell39{background-image:url(img/dog/image_part_7.jpg);background-size:280px 187px;width:280px;height:187px}.cell40{background-image:url(img/dog/image_part_8.jpg);background-size:280px 187px;width:280px;height:187px}.cell41{background-image:url(img/dog/image_part_9.jpg);background-size:280px 187px;width:280px;height:187px}.cell42{background-image:url(img/dog/image_part_10.jpg);background-size:280px 187px;width:280px;height:187px}.cell43{background-image:url(img/dog/image_part_11.jpg);background-size:280px 187px;width:280px;height:187px}.cell44{background-image:url(img/dog/image_part_12.jpg);background-size:280px 187px;width:280px;height:187px}.cell45{background-image:url(img/dog/image_part_13.jpg);background-size:280px 187px;width:280px;height:187px}.cell46{background-image:url(img/dog/image_part_14.jpg);background-size:280px 187px;width:280px;height:187px}

.cell48{background-image:url(img/torony/image_part_0.jpg);background-size:280px 157px;width:280px;height:157px}.cell49{background-image:url(img/torony/image_part_1.jpg);background-size:280px 157px;width:280px;height:157px}.cell50{background-image:url(img/torony/image_part_2.jpg);background-size:280px 157px;width:280px;height:157px}.cell51{background-image:url(img/torony/image_part_3.jpg);background-size:280px 157px;width:280px;height:157px}.cell52{background-image:url(img/torony/image_part_4.jpg);background-size:280px 157px;width:280px;height:157px}.cell53{background-image:url(img/torony/image_part_5.jpg);background-size:280px 157px;width:280px;height:157px}.cell54{background-image:url(img/torony/image_part_6.jpg);background-size:280px 157px;width:280px;height:157px}.cell55{background-image:url(img/torony/image_part_7.jpg);background-size:280px 157px;width:280px;height:157px}.cell56{background-image:url(img/torony/image_part_8.jpg);background-size:280px 157px;width:280px;height:157px}.cell57{background-image:url(img/torony/image_part_9.jpg);background-size:280px 157px;width:280px;height:157px}.cell58{background-image:url(img/torony/image_part_10.jpg);background-size:280px 157px;width:280px;height:157px}.cell59{background-image:url(img/torony/image_part_11.jpg);background-size:280px 157px;width:280px;height:157px}.cell60{background-image:url(img/torony/image_part_12.jpg);background-size:280px 157px;width:280px;height:157px}.cell61{background-image:url(img/torony/image_part_13.jpg);background-size:280px 157px;width:280px;height:157px}.cell62{background-image:url(img/torony/image_part_14.jpg);background-size:280px 157px;width:280px;height:157px}

.cell66{background-image:url(img/alpok/image_part_0.jpg);background-size:256px 144px;width:256px;height:144px}.cell67{background-image:url(img/alpok/image_part_1.jpg);background-size:256px 144px;width:256px;height:144px}.cell68{background-image:url(img/alpok/image_part_2.jpg);background-size:256px 144px;width:256px;height:144px}.cell69{background-image:url(img/alpok/image_part_3.jpg);background-size:256px 144px;width:256px;height:144px}.cell70{background-image:url(img/alpok/image_part_4.jpg);background-size:256px 144px;width:256px;height:144px}.cell71{background-image:url(img/alpok/image_part_5.jpg);background-size:256px 144px;width:256px;height:144px}.cell72{background-image:url(img/alpok/image_part_6.jpg);background-size:256px 144px;width:256px;height:144px}.cell73{background-image:url(img/alpok/image_part_7.jpg);background-size:256px 144px;width:256px;height:144px}.cell74{background-image:url(img/alpok/image_part_8.jpg);background-size:256px 144px;width:256px;height:144px}.cell75{background-image:url(img/alpok/image_part_9.jpg);background-size:256px 144px;width:256px;height:144px}.cell76{background-image:url(img/alpok/image_part_10.jpg);background-size:256px 144px;width:256px;height:144px}.cell77{background-image:url(img/alpok/image_part_11.jpg);background-size:256px 144px;width:256px;height:144px}.cell78{background-image:url(img/alpok/image_part_12.jpg);background-size:256px 144px;width:256px;height:144px}.cell79{background-image:url(img/alpok/image_part_13.jpg);background-size:256px 144px;width:256px;height:144px}.cell80{background-image:url(img/alpok/image_part_14.jpg);background-size:256px 144px;width:256px;height:144px}

.cell82{background-image:url(img/forma1/image_part_0.jpg);background-size:280px 186px;width:280px;height:186px}.cell83{background-image:url(img/forma1/image_part_1.jpg);background-size:280px 186px;width:280px;height:186px}.cell84{background-image:url(img/forma1/image_part_2.jpg);background-size:280px 186px;width:280px;height:186px}.cell85{background-image:url(img/forma1/image_part_3.jpg);background-size:280px 186px;width:280px;height:186px}.cell86{background-image:url(img/forma1/image_part_4.jpg);background-size:280px 186px;width:280px;height:186px}.cell87{background-image:url(img/forma1/image_part_5.jpg);background-size:280px 186px;width:280px;height:186px}.cell88{background-image:url(img/forma1/image_part_6.jpg);background-size:280px 186px;width:280px;height:186px}.cell89{background-image:url(img/forma1/image_part_7.jpg);background-size:280px 186px;width:280px;height:186px}.cell90{background-image:url(img/forma1/image_part_8.jpg);background-size:280px 186px;width:280px;height:186px}.cell91{background-image:url(img/forma1/image_part_9.jpg);background-size:280px 186px;width:280px;height:186px}.cell92{background-image:url(img/forma1/image_part_10.jpg);background-size:280px 186px;width:280px;height:186px}.cell93{background-image:url(img/forma1/image_part_11.jpg);background-size:280px 186px;width:280px;height:186px}.cell94{background-image:url(img/forma1/image_part_12.jpg);background-size:280px 186px;width:280px;height:186px}.cell95{background-image:url(img/forma1/image_part_13.jpg);background-size:280px 186px;width:280px;height:186px}.cell96{background-image:url(img/forma1/image_part_14.jpg);background-size:280px 186px;width:280px;height:186px}